/node_modules
/public
/storage/*.key
/vendor
/public/img/*
/public/sitemap.xml
composer.lock
package-lock.json
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
