.template-frontend-about-us {

    .section-message {
        @include margin-vertical(20px);

        .row-message {
            >[class*="col-"] {
                @include margin-vertical(20px);
            }
        }

        .heading {
            font-size: rem-calc(26px);
        }
    }

    .section-title {
        font-family: Fortescue, serif;
        font-size: rem-calc(48px);
    }

    .section-description {
        max-width: 536px;
        @include margin-horizontal(auto);
    }

    .heading-wrapper-main {
        @include heading-wrapper-main();

        >div {
            @include heading-wrapper-main-inner-div();
            padding-top: 100% * 217 / 1920;
            padding-bottom: 100% * 217 / 1920;
        }

        .heading-main {
            @include heading-main();
        }
    }

    .section-key-notes {
        background-color: #f6f6f6;
        padding-top: 70px;
        padding-bottom: 70px;

        .key-notes-list {
            margin-top: 40px;
            margin-bottom: 40px;

            .key-notes-list-item {
                margin-top: 40px;
                margin-bottom: 40px;
                text-align: center;

                .icon {
                    font-size: rem-calc(70px);
                }

                .title {
                    margin-top: 28px;
                    margin-bottom: 28px;
                    font-size: rem-calc(26px);
                    font-weight: 600;
                }

            }
        }
    }

    .section-team {
        padding-top: 70px;
        padding-bottom: 15px;

        .team-member-list {
            margin-top: 42px;

            .nav {

                >.nav-item {

                    >.nav-link {
                        border: 1px solid $primary;
                        margin-left: 8px;
                        margin-right: 8px;
                        margin-top: 10px;
                        font-weight: 600;

                        &:not(.active) {
                            color: #333333;

                            @include hover {
                                color: lighten(#333333, 15%);
                            }
                        }
                    }
                }
            }



            .row-team-member {
                margin: 8px 4px;

                .team-member {
                    margin-top: 24px;
                    margin-bottom: 24px;

                    .member-name {
                        font-size: rem-calc(18px);
                        padding: 5px 5px 0px 0px;
                    }

                    .member-designation {
                        padding: 5px;
                    }

                    .member-description {
                        margin-top: 14px;
                    }
                }
            }



        }
    }
}
